@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Authentication;

@model IList<FrontEndAdmin.Models.NPOFields>

@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Dashboard v.1";
}

<script src="/lib/jquery/dist/jquery.js"></script>


<h2>Default fields</h2>



<br />
<div class="switch">
    <div class="onoffswitch">
        <input type="checkbox" checked class="onoffswitch-checkbox" id="example1">
        <label class="onoffswitch-label" for="example1">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
        </label>
    </div>
</div>



<form asp-action="DefaultFields" asp-controller="NPO">



    <table class="table">
        <tr>
            <th>
                Fields
            </th>
            <th>
                Activate
            </th>
            <th>
                Mandatory
            </th>
        </tr>



        @for (int i = 0; i < Model.Count; i++)
            {
            @Html.HiddenFor(m => m[i].FieldName)



            <tr>
                <td>
                    @Html.LabelFor(model => model[i].FieldLabel, htmlAttributes: new { @class = "control-label col-md-1" })
                </td>
                <td>
                    <div class="switch">
                        <div class="onoffswitch">
                            @Html.CheckBoxFor(mod => mod[i].FieldActivate, new { @class = "onoffswitch-checkbox" })
                            <label class="onoffswitch-label" for="[i].FieldActivate">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="switch">
                        <div class="onoffswitch">
                            @Html.CheckBoxFor(mod => mod[i].FieldMandatory, new { @class = "onoffswitch-checkbox" })
                            <label class="onoffswitch-label" for="[i].FieldMandatory">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </td>
            </tr>

        }

    </table>








    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</form>
}

<br />
<br />
<br />
<br />
<br />
<br />
